<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <style>
    .soundcloud {
      position: absolute;
      top: 10%;
      left: 25%;
      width: 50%;
      height: 0%;
    }
  </style>

  <body>

    <div class="container content">
      <div class="masthead">
        <h3 class="masthead-title">
          <a href="/" title="Home">{{ site.title }}</a>

          {% for page in site.pages_list %}
            &nbsp;&nbsp;&nbsp;
            <small><a href="{{ page[1]  }}">{{ page[0] }}</a></small>
          {% endfor %}
        </h3>
      </div>

      <div class="soundcloud">
      <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/249789665&amp;auto_play=true&amp;color=000001&amp;player_type=tiny&amp;enable_api=true&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=false"></iframe>
      {{ content }}

      <div class="footer">
      </div>
    </div>

  </body>
</html>
